<a href="https://colab.research.google.com/github/hottp2988/tibame-20251203/blob/main/12_3(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#實用小工具

```python

```
#latex math
$ volume= \frac{3}{4}\pi R^f$

In [30]:
year = 2000

if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print("閏年")
    else:
      print("平年")
  else:
    print("閏年")

else:
  print("平年")

閏年

In [29]:
year = 3200
if year % 400 == 0:
  print("閏年")
elif year % 100 == 0:
  print("平年")
elif year % 4 == 0:
  print("閏年")
else:
  print("平年")

閏年

In [31]:
print("閏年" if (y:=int(input()))%400==0 or (y%4==0 and y%100!=0) else "平年")

4000
閏年

In [105]:
import time
Year = 1970
Time = (int(time.time()))
day = Time // 86400
second = Time % 86400
while day >= 365:
    if ( Year % 400 == 0 or ( Year % 4 == 0 and Year % 100 != 0 ) ):
        Year += 1
        day -= 366
    else:
        Year += 1
        day -= 365

print( Year , "年" )
print( second // 3600 + 8, "時" , second % 3600 // 60 ,"分",
      second % 60 % 60 ,"秒",)

2025 年
14 時 25 分 38 秒

In [109]:
total = 0
i=0
while i < 10:
    total += (i + 1)
    print(total)
    i += 1

1
3
6
10
15
21
28
36
45
55

In [104]:
i = 0
while i < 10:
        print(i,i+5,10-i,2*i+1)
        i=i+1

0 5 10 1
1 6 9 3
2 7 8 5
3 8 7 7
4 9 6 9
5 10 5 11
6 11 4 13
7 12 3 15
8 13 2 17
9 14 1 19

In [132]:
total = 0
frac = 1

i = 0
while i < 100000:
    if not i == 0:
       frac = frac * i
    total = total + (1/frac)
    i = i + 1
print(total)

2.7182818284590455